  /* .contenedor{
    width: 0;
    height: 0;
} */

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Slab', serif;
}


body{
    background: #fefae0;
}



.contenedor{
    width: 100%; /*ancho de __*/
    max-width: 1400px;  /*ancho maximo */
    margin: 0px auto 0px auto;   /*el auto es para centar la pagina*/ 
    display: grid;
    grid-gap: 0px 10px;  /*gap son los espaciados entre contenidos, solo aplica para partes internas*/
    grid-template-columns: repeat(3, 1fr); /* es decir 3 de una fraccion de el espacio disponible  */
    grid-template-rows: repeat(7, auto); /*es decir 7 filas de medida automatica*/

	grid-template-areas: "header1 header1 header1"
                         "header2 header2 header2"
                         "portada portada portada"
						 "nosotros nosotros nosotros"
						 "contenido contenido sidebar"
                         "widget-1 widget-2 sidebar"
                         "footer footer footer";
}

.contenedor > div,
.contenedor .header1,
.contenedor .header2,
.contenedor .portada,
.contenedor .nosotros,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .widget-1,
.contenedor .widget-2,
.contenedor .footer {
	background: #fff;
	padding: 0px;
	border-radius: 0px;
}
/* como solo se lo aplica a los divs debemos
especificar los demas contenedores*/ 

.contenedor .header1 {
	background: #283618;
    
	color: #fff;
	/* grid-column-start: 1;
    grid-column-end: 4;  */
    /* empieza en la colunna uno y
    yermina e la 4 o podemos pner -1 para abarcar toda la fila*/
    height: 70px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    grid-area: header1;
    /* display: flex;
    justify-content: space-around; */
    box-shadow: 5px 5px 15px gray;
    display: flex;
    align-items: center;
    justify-content: space-around;
}



.redesycontacto{
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    /* justify-content: space-around; */
    margin: -30px;

}

.buttons{
    display: flex;
    align-items: start;
    justify-content: flex-start;

}



.buttons {
  min-width: 330px;
  display: flex;
  justify-content: space-around;
}

.buttons a {
  text-decoration: none;
  font-size: 20px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background: #606c38;
  color: #f1f1f1;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  transition: all .4s ease-in-out;
}

.buttons a:hover {
  transform: scale(1.2);
}

.contacto{
    /* display: flex;
    
    align-items: center; */
    
}

.horario{
    text-decoration: none;
    display: flex;
    justify-content:end ;
    margin: 0px 230px 0px 0px;
    
}

.links1{
    color: #fefae0;
    margin: 20px;
    outline: none;
    text-decoration: none;
}

.contenedor .header2 {
	background: #fefae0;
	color: #fff;
    /* grid-column-start: 1;
    grid-column-end: 4; */
    grid-area: header2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    

}

.links2{
    margin: 0px;
    padding: 15PX;
    color:#283618;
    outline: none;
    text-decoration: none;
}

.logo{
    

}

.img2{
    height: 40px;

}

.menu{
    display: flex;
    align-self: center;
}

.contenedor .portada{
    /* background: #e04f0b; */
	color: #fff;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-area: portada;

    background-image: linear-gradient(rgba(5,7,12,0.40),rgba(5,7,12,0.40)),
    url(./assets/MezcalPor.jpg);

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    height: 500px;

    display: flex;
    justify-content: center;
    align-items: center;
}




.contenedor .nosotros{
    background: #283618;
	color: #fff;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-area: nosotros;
    display: flex;
    justify-content: flex-start;
    grid-gap: 10px;
    padding: 20px;
}

.contenedor .contenido{
    /* grid-column: span 2; */
    grid-area: contenido;
    background: #fefae0;
    padding: 20px;

} /*hacemos esto para que el contenodo abarque 
2 columnas*/

.contenedor .sidebar{
    /* ahora para que abarque 2 columnas hacemos 
    lo siguiente*/
    grid-column: 3/4;
    /* para centrar el texto de forma horizontal
    y vertical podemos usar flexbox*/
    background: #606c38;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    /* para abrcar las 2 filas agregamos */
    min-height: 100px;
    /* grid-row: span 2;  */
    /* o 2/4*/
    grid-area: sidebar;
}

.contenedor .widget-1
.contenedor .widget-2{
    background: #3e6549;
    color: #ffffff;
    height: 100px;
    text-align: center;
    /* para alinear texto usamos flexbox*/
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.contenedor .widget-1{
    grid-area: widget-1 ;
    background: #fefae0;
}
.contenedor .widget-2{
    grid-area: widget-2 ;
    background: #fefae0;
}



.contenedor .footer{
	background: #283618;
    background: #;
    color: #fff;
    /* grid-column: span 3; */

    grid-area: footer;
}

/* @media screen and (max-width:768px) { 
    .contenedor .contenido {
        grid-column: span 3;
    }
    .contenedor .sidebar{
        grid-column: 1 / -1;
    }
    .contenedor .widget-1{
        grid-column: span 2;
    }

} */

@media screen and (max-width:768px){
    .contenedor{
        grid-template-areas:
         "header1 header1 header1"
        "header2 header2 header2"
        "portada portada portada"
        "nosotros nosotros nosotros"
        "contenido contenido contenido"
        "sidebar sidebar sidebar"
        "widget-1 widget-2 widget-2 "
        "footer footer footer";
    }
}